
    <a href="/shop-details.html" style="text-decoration: none; color: inherit;">
        <div class="product-card" >
            <div class="product-image">
                <img src="static\img\product\product-5.jpg" style="width: 250px; height: 210px;" alt="Product Image">
                <span class="label">New</span> <!-- Optional label for new products -->
            </div>
            <div class="shop-details">
                <h3 class="product-title"><div>{{list['product_name']}}</div></h3>
                <p class="product-description"><div class="product_text">{{list['prod_description']}}</div></p>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i> <!-- Empty star for incomplete rating -->
                </div>
                <span class="product-price"><div>{{list['pricing']}}</div></span>
                <div class="product-color-options">
                    <label for="color-option-1">
                        <input type="radio" id="color-option-1" name="color-option">
                        <span class="color-option"></span> <!-- Display color swatch -->
                    </label>
                    <!-- Add more color options as needed -->
                </div>
                <button class="add-to-cart-btn" style="width: 150px;height: 50px;">Add to Cart</button>
            </div>
        </div>
    </a>
  