<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="\static\img\icon\search.png" alt=""></a>
            <a href="#"><img src="\static\img\icon\heart.png" alt=""></a>
            <a href="#"><img src="\static\img\icon\cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./"><img src="static\img\WhatsApp Image 2024-04-28 at 9.17.29 AM.jpeg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./">Home</a></li>
                            <li><a href="./about.html">About Us</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\search.png" alt=""></a>
                        <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\heart.png" alt=""></a>
                        <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="filters">
        <div class="filter-section">
            <label for="price">Price Range:</label>
            <div class="range-inputs">
                <input type="range" id="minPrice" name="minPrice" min="0" max="1000" value="100" oninput="updatePriceRange()">
                <input type="range" id="maxPrice" name="maxPrice" min="0" max="1000" value="900" oninput="updatePriceRange()">
                <div class="output">
                    <span id="minPriceLabel">100</span> - <span id="maxPriceLabel">900</span>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <label for="wear-type">Wear Type:</label>
            <select id="wear-type">
                <option value="casual">Casual</option>
                <option value="formal">Formal</option>
                <option value="sports">Sports</option>
                <option value="ethnic">Ethnic</option>
            </select>
        </div>
        <div class="filter-section">
            <label for="colorSelect">Color:</label>
            <select id="colorSelect">
                <option style="background-color:white; color: black;" value="black">Black</option>
                <option style="background-color:white; color: black;" value="red">Red</option>
                <option style="background-color:white; color: black;" value="blue">Blue</option>
                <option style="background-color:white; color: black;" value="green">Green</option>
                <option style="background-color: white; color: black;" value="yellow">Yellow</option>
            </select>
        </div>
        <button class="submit-button">Apply Filters</button>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <div>
            {% for list in lists%}
                
                <a href="/shop-details.html?link={{ list['link'] }}&articleType={{ list['articleType'] }}&productDisplayName={{ list['productDisplayName'] }}&price={{ list['price'] }}" style="text-decoration: none; color: inherit;">
                    <div class="product-card" >
                        <div class="product-image">
                            <img src="{{ list['link'] }}" style="width: 250px; height: 210px;" alt="Product Image">
    
                        </div>
                        <div class="shop-details">
                            <h3 class="product-title"><div><strong>{{list['articleType'].title()}}</strong></div></h3>
                            <p class="product-description"><div class="product_text">{{list['productDisplayName'].title()}}</div></p>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i> <!-- Empty star for incomplete rating -->
                            </div>
                            <h3 style="color: black; font-size: medium;">₹{{price_list[0]}}</h3>

                            <!-- <h3><div>{{list[price]}}</div></h3> -->
                            <button class="add-to-cart-btn" style="width: 150px;height: 50px;">Add to Cart</button>
                        </div>
                    </div>
                </a>

            {% endfor %}
    </div>

    

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="\static\img\footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script>
        function updatePriceRange() {
    var minPrice = document.getElementById('minPrice');
    var maxPrice = document.getElementById('maxPrice');
    var minPriceLabel = document.getElementById('minPriceLabel');
    var maxPriceLabel = document.getElementById('maxPriceLabel');

    // Ensure the min price is not greater than max price
    if (parseInt(minPrice.value) > parseInt(maxPrice.value)) {
        minPrice.value = maxPrice.value;
    }

    minPriceLabel.textContent = minPrice.value;
    maxPriceLabel.textContent = maxPrice.value;

    function addToCart() {
    // Get the table body where new rows will be added
    var tableBody = document.querySelector('.shopping__cart__table tbody');

    // Create a new row element
    var newRow = document.createElement('tr');

    // Set the innerHTML of the new row to match the structure of existing rows
    newRow.innerHTML = `
        <td class="product__cart__item">
            <div class="product__cart__item__pic">
                <img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\shopping-cart\cart-1.jpg" alt="">
            </div>
            <div class="product__cart__item__text">
                <h6>T-shirt Contrast Pocket</h6>
                <h5>$98.49</h5>
            </div>
        </td>
        <td class="quantity__item">
            <div class="quantity">
                <div class="pro-qty-2">
                    <input type="text" value="1">
                </div>
            </div>
        </td>
        <td class="cart__price">$ 30.00</td>
        <td class="cart__close"><i class="fa fa-close"></i></td>
    `;

    // Append the new row to the table body
    tableBody.appendChild(newRow);
}

}

    </script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>