<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\search.png" alt=""></a>
            <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\heart.png" alt=""></a>
            <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\cart.png" alt=""> <span>0</span></a>
            <div class="price">₹23,650</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About Us</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\search.png" alt=""></a>
                        <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\heart.png" alt=""></a>
                        <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\icon\cart.png" alt=""> <span>0</span></a>
                        <div class="price">₹23,650</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="http://assets.myntassets.com/v1/images/style/properties/7a5b82d1372a7a5c6de67ae7a314fd91_images.jpg" alt="" style="width: 100px; height: auto;">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Turtle Check Men Navy Blue Shirt</h6>
                                        <h5>₹ 5,000</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">₹ 5,000</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="http://assets.myntassets.com/v1/images/style/properties/f3964f76c78edd85f4512d98b26d52e9_images.jpg" alt="" style="width: 100px; height: auto;">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Gini and Jony Girls Knit White Top</h6>
                                        <h5>₹ 2,500</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">₹ 2,500</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="http://assets.myntassets.com/v1/images/style/properties/4eff2353c62ec8b7bca9fbbaf5996bd2_images.jpg" alt="" style="width: 100px; height: auto;">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Nike Men's Incinerate MSL White Blue Shoe</h6>
                                        <h5>₹10,500</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">₹10,500</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="http://assets.myntassets.com/v1/images/style/properties/aff52e6e6bc208923a493612e8f6a3e7_images.jpg" alt="" style="width: 100px; height: auto;">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Lucera Women Silver Pendant</h6>
                                        <h5>₹7,900</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">₹7,900</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad" style="margin-top: -300px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Existing cart items -->
                <div class="shopping__cart__table">
                    <!-- Your existing table structure for displaying cart items goes here -->
                </div>
            </div>
            <div class="col-lg-4">
                <!-- New box for displaying cart total -->
                <div style="background-color: #f5f5f5; border: 1px solid #ddd; padding: 20px; border-radius: 10px; margin-top: 20px;">
                    <h5 style="margin-bottom: 15px; font-size: 18px;">Cart Total</h5>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="padding: 10px 0; font-size: 16px;">Total:</td>
                                <td id="cart-total" style="font-weight: bold; font-size: 20px;">₹23,650</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->



   <!-- You May Also Like Section Begin -->
   <section class="you-may-like spad" style="padding: 50px 0;">
    <div class="container" style="max-width: 1200px; margin: 0 auto;">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-title" style="font-size: 24px; margin-bottom: 20px; text-align: center; font-family: 'Arial', sans-serif;">You May Also Like</h3>

                <div class="row">
                    <!-- Single Product Start -->
                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="https://assets.myntassets.com/v1/images/style/properties/6cb6a14583b044dca0a0bd9efc2fc4c7_images.jpg" alt="Locomotive Men Washed Blue Jeans" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Locomotive Men Washed Blue Jeans</h6>
                                <h5 style="font-size: 18px; color: #555;">₹6,700</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Repeat for other products -->
                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/971d32f5f437a3e65d852648dd6bbdad_images.jpg" alt="Fastrack Men New Analog Black Navy Watch" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Fastrack Men New Analog Black Navy Watch</h6>
                                <h5 style="font-size: 18px; color: #555;">₹1,900</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/6220c2b37ad0a42be62fb92b1d6c7e14_images.jpg" alt="Fastrack Men New Analog Black Navy Watch" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Jealous 21 Women Washed Blue Jeans</h6>
                                <h5 style="font-size: 18px; color: #555;">₹3,800</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/749afc6258261f28bcd6b94c30f75cba_images.jpg" alt="Fastrack Men New Analog Black Navy Watch" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Enroute Women Casual White Heels</h6>
                                <h5 style="font-size: 18px; color: #555;">₹9,900</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/ebe98f22b2e18380aaf50ccb6df488d9_images.jpg" alt="Fastrack Men New Analog Black Navy Watch" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Peter England Men Stripes Black Shirt</h6>
                                <h5 style="font-size: 18px; color: #555;">₹6,300</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/6fe4ccb4dbd9c54dfd57ce63f8b12879_images.jpg" alt="Fastrack Men New Analog Black Navy Watch" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Formal,John Miller Men Black Trousers
                                </h6>
                                <h5 style="font-size: 18px; color: #555;">₹2,500</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/14610f7326718ee9b953bfba7201e5bf_images.jpg" alt="Jealous 21 Women Black Dress" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Jealous 21 Women Black Dress</h6>
                                <h5 style="font-size: 18px; color: #555;">₹9,500</h5>
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 15px;">
                        <div class="product__item" style="text-align: center; margin-bottom: 30px;">
                            <div class="product__item__pic" style="height: 250px; display: flex; align-items: center; justify-content: center;">
                                <img src="http://assets.myntassets.com/v1/images/style/properties/22e7f801aed64afaed606ace6512911a_images.jpg" alt="Fastrack Men New Analog Black Navy Watch" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="product__item__text" style="margin-top: 10px;">
                                <h6 style="font-size: 16px; color: #333;">Catwalk Women Black Flats</h6>
                                <h5 style="font-size: 18px; color: #555;">₹8,200</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Additional products should be added similarly -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- You May Also Like Section End -->




    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="C:\Users\Admin\Desktop\Hackathon\Fashion_Hack\static\img\payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

 

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>